<div class="header">
    <span>{{header}}</span>
    <a href="#" class="more">See All</a>
</div>
<div class="item" ng-repeat="item in items | limitTo: lim">
    <a href="" class="img">
        <img src="img/compani1.png" alt="">
    </a>
    <div class="info">
        <h3 class="company-name">
            <a href="/#">{{item.company_name}}</a>
        </h3>
        <span class="company-type">{{item.type}}</span>
        <span class="company-town">Belgrade, Serbia</span>
        <div class="follow"><a href="">Follow Now</a></div>
    </div>
</div>