<div class="header">
    <span>Featured Products</span>
    <a href="#" class="more">See All</a>
</div>
<div class="item">
    <h3 class="name">
        <a href="">Product Name</a>
    </h3>
    <a href="" class="img">
        <img src="img/avat4.png" alt="">
    </a>
    <div class="info">
        <span class="desc">
            Product Short  Description.  The quick brown  fox jumps over th
        </span>
    </div>
</div>
<div class="item">
    <h3 class="name">
        <a href="">Product Name</a>
    </h3>
    <a href="" class="img">
        <img src="img/avat5.png" alt="">
    </a>
    <div class="info">
        <span class="desc">
            Product Short  Description.  The quick brown  fox jumps over th
        </span>
    </div>
</div>