<div class="header">
    <span>People you may know</span>
    <a href="#" class="more">See All</a>
</div>
<div class="item">
    <h3 class="name">
        <a href="">Dennis Adams</a>
    </h3>
    <a href="" class="img">
        <img src="img/avat1.png" alt="">
    </a>
    <div class="info">
        <span class="people-type">Dentist (Practice  Owner)</span>
        <span class="people-town">London, England</span>
        <div class="follow"><a href="#">Add Friend</a></div>
    </div>
</div>
<div class="item">
    <h3 class="name">
        <a href="">Mary Carpenter</a>
    </h3>
    <a href="" class="img">
        <img src="img/avat2.png" alt="">
    </a>
    <div class="info">
        <span class="people-type">Dentist (Practice  Owner)</span>
        <span class="people-town">Belgrade, Serbia</span>
        <div class="follow"><a href="#">Add Friend</a></div>
    </div>
</div>
<div class="item">
    <h3 class="name">
        <a href="">Danielle Salazar</a>
    </h3>
    <a href="" class="img">
        <img src="img/avat3.png" alt="">
    </a>
    <div class="info">
        <span class="people-type">Dentist (Practice  Owner)</span>
        <span class="people-town">Paris, France</span>
        <div class="follow"><a href="#">Add Friend</a></div>
    </div>
</div>