@import "mixin"

header
  +W-H-BC($h: 68px,$bc: $c_green)
  +BorBot($h:2px, $c: $c_green_darker)
  +F($c: $c_white)
  padding-top: 11px
  div
    +I

.search-form
  +W-H-BC($w: 435px,$h:34px)
  +PosR($ov: 1)
  +BorR()
  max-width: 487px
  vertical-align: top
  margin: 6px 0 0 27px
.search-field
  +W-H-BC($w: 100%,$h: 100%, $bc: $c_green_darker)
  +F($s: 15px)
  padding-left: 38px
.search-sub
  +PosA()
  +W-H-BC($w:36px, $h: 100%, $bc: transparent)
  span
    +F($s: 16px, $c: $c_green)

.top-chat-button,.top-notify-button
  +F($s: 23px)
  vertical-align: top
  padding-top: 11px

.top-chat-button
  margin: 1px 0 0 26px

.top-notify-button
  margin-left: 15px


.top-profile-link
  +RightSide

.profile-link
  .img
    +W-H-BC($w: 33px, $h:33px, $bc: red)
    +ImgCon
    +BorR()
    margin: 7px 5px 0 0
  .name
    +F($s: 16px, $fw: 300)
    +W-H-BC($w: calc(100% - 43px))
    vertical-align: top
    padding-top: 13px
    span
      +TextEl
